<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white">sign Up</h1>
            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <form [formGroup]='signUp'>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName='firstName' placeholder="firstName">
                    </div>
                    <div *ngIf='signUp.controls["firstName"].invalid&&
                    (signUp.controls["firstName"].touched || signUp.controls["firstName"].dirty)' >
                    <div *ngIf='signUp.controls["firstName"].errors.minlength' style="color: crimson;" >
                        min length:3
                    </div>
                    <div *ngIf='signUp.controls["firstName"].errors.required' style="color: crimson;" >
                        first name is required
                    </div>

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName='lastName' placeholder="lastName">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" formControlName='email' placeholder="Email">
                    </div>
                    <div *ngIf='signUp.controls["email"].invalid&&
                    (signUp.controls["email"].touched || signUp.controls["email"].dirty)' >
                    <div *ngIf='signUp.controls["email"].errors.email' style="color: crimson;" >
                        form not email
                    </div>
                    <div *ngIf='signUp.controls["email"].errors.required' style="color: crimson;" >
                        email is required
                    </div>

                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName='pwd' placeholder="password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName='confirmPwd' placeholder=" confirm password">
                    </div>
                    <div *ngIf='signUp.controls["confirmPwd"].invalid&&
                    (signUp.controls["confirmPwd"].touched|| signUp.controls["confirmPwd"].dirty)' ></div>
                    <div *ngIf='signUp.controls["confirmPwd"].errors.confirm' style="color: crimson;" >
                        please  repeat password correctly
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary py-3 px-5" (click)='sign()' >sign Up</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 ml-auto">

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <strong class="text-white d-block">Address</strong>
                        273 South Riverview Rd. <br> New York, NY 10011
                    </li>
                    <li class="mb-2">
                        <strong class="text-white d-block">Email</strong>
                        <a href="#">info@unslate.co</a>
                    </li>
                    <li class="mb-2">
                        <strong class="text-white d-block">
                            Phone
                        </strong>
                        <a href="#">+12 345 6789 012</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>